@layer theme, base, clerk, components, utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'tailwindcss'; */

/* 你的自定义 CSS 放在最后 */
#gradient-canvas {
  --gradient-color-1: #bde1ff;
  --gradient-color-2: #6ca0f4;
  --gradient-color-3: #e2d8ee;
  --gradient-color-4: #94c8ff;
}

:root {
  --bg-dark: #0d1117;
  --card-bg: rgba(255, 255, 255, 0.05);
  --card-border: rgba(255, 255, 255, 0.08);
  --primary: #00c6ff;
  --secondary: #0072ff;
  --green: #00e6a8;
  --red: #ff5f6d;
  --glow: 0 0 10px rgba(0, 200, 255, 0.5);
}